<section class="detail" *ngIf="card$ | async as card">
  <img class="detail__image"
       [src]="card.card_images[0].image_url"
       alt="Yu gi oh card image"
  />

  <div class="detail__content">
    <div class="detail__info">
      <h1 class="detail__info-title">{{ card.name }}</h1>
      <label class="detail__info-description">{{ card.desc }}</label>

      <h2 class="detail__info-subtitle">
        {{ card.archetype || 'Unknown' }} - {{ card.race }} - {{ card.type }}
      </h2>
    </div>

    <div class="detail__prices">
      <table class="table">
        <thead class="table__header">
          <tr class="table__header-row">
            <th class="table__header-cell">Store</th>
            <th class="table__header-cell">Price</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr class="table__body-row" *ngFor="let store of card.card_prices[0] | keyvalue">
            <td class="table__body-cell">{{ store.key }}</td>
            <td class="table__body-cell">{{ store.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
