<section class="detail">
  <img class="detail__image"
       src="https://images.ygoprodeck.com/images/cards/34541863.jpg"
       alt="Yu gi oh card image"/>

  <div class="detail__content">
    <div class="detail__info">
      <h1 class="detail__info-title">Title</h1>
      <label class="detail__info-description">Description</label>

      <h2 class="detail__info-subtitle">Subtitle</h2>
    </div>

    <div class="detail__prices">
      <table class="table">
        <thead class="table__header">
          <tr class="table__header-row">
            <th class="table__header-cell">Header</th>
            <th class="table__header-cell">Header</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr class="table__body-row">
            <td class="table__body-cell">Cell</td>
            <td class="table__body-cell">Cell</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
